/* ---------------------------- NAV STYLING ---------------------------- */

nav {
  background-color: #536785;
  color: #EADED4;
  height: 120px;
  width: 100%;
  z-index: 1000; /*may need to adjust*/
  position: fixed;
    top: 0px;
    right: 0;
    left: 0;
  padding: 1.5em;
}

.navLogo {
  font-family: 'bungee';
  float: left;
}

.navTweet {
  font-family: 'Source Sans Pro', sans-serif;
  float: right;
}

.fa-angle-double-down {
  font-size: 1.5em;
  cursor: pointer;
  float: right;
  clear: both;
  margin: 0px 79px;
  text-decoration: none;
  color: #D77D6F;
  border: none;
  background: none;
  outline: inherit;
  -webkit-animation: bounce 1s infinite alternate;
  -moz-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.7); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.7); }
}
@keyframes bounce {
  to { transform: scale(1.7); }
}
