/* ----------------------------RESPONSIVE CSS FOR MIN-WIDTH of 1024px---------------------------- */

@media only screen and (min-width: 1024px) {
  main {
    margin: 0 auto;
    width: 56%;
    overflow: hidden;
    float: right;
    margin: 70px 120px 0px 0px;
  }

  .main-header {
    height: 400px;
    width: 30%;
    margin: 120px 0px 0px 100px;
    padding: 0%;
    float: left;
    background-color: #eaded4;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
  }

  .tweet {
    overflow: hidden;
    margin: 20px;
    padding: 15px;
    border: black solid 3px;
  }

  .new-tweet > form {
    padding: 60px 30px 0px 30px;
    overflow: hidden;
  }

  .tweets {
    margin-top: 30px;
    overflow: hidden;
  }
}

/* ----------------------------RESPONSIVE CSS FOR MAX-WIDTH of 1572px---------------------------- */

@media only screen and (max-width: 1572px) {
  main {
    width: 52%;
    margin: 70px 80px 0px 0px;
  }

  .main-header {
    margin: 120px 0px 0px 80px;
  }
}

/* ----------------------------RESPONSIVE CSS FOR MAX-WIDTH of 1023px---------------------------- */

@media only screen and (max-width: 1023px) {
  main {
    width: 100%;
    margin: 30px 80px 0px 0px;
  }

  .main-header {
    margin: 0px;
    background-color: #536785;
  }

  nav {
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }

  .errors {
    margin: 50px 0px 0px 0px;
    text-align: center;
  }

  .new-tweet > form {
    padding: 40px 15px 0px 15px;
  }

  .errors {
    margin: 10px 0px 0px 0px;
  }
}
