/* ----------------------------TWEET POST---------------------------- */

.tweets {
  margin-top: 30px;
  overflow: hidden;
}

.tweet {
  overflow: hidden;
  margin: 30px;
  padding: 15px;
  border: black solid 3px;
}

.tweet:hover {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 10px 10px 10px 1px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  text-shadow: 1px 1px #ccc;
}

.tweet > .content {
  border-bottom: solid black 3px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.tweet > header {
  margin: 0;
  overflow: hidden;
}

.tweet .handle {
  float: right;
  color: transparent;
}

.tweet > header > .name {
  margin: 0;
  float: left;
  overflow: hidden;
  padding: 24px;
}

.tweet > header > .avatar {
  width: 3.4em;
  float: left;
}

.tweet:hover > header > .handle {
  float: right;
  margin-right: 30px;
  color: black;
  opacity: 20;
  transition: 1s;
}

.tweet > footer {
  margin: 0;
  overflow: hidden;
}

.tweet > footer > p {
  margin: 0px 30px;
  float: left;
  font-weight: 700;
  font-size: 15px;
}

.tweet > footer > .buttons {
  overflow: hidden;
  margin: -2px 30px;
}

.tweet > footer > .buttons > img {
  width: 0.65em;
  float: right;
  margin: 5px;
}

